header {
  text-align: center; /* ヘッダー内のコンテンツを中央揃えに */
  padding: 20px; /* ヘッダーの内側余白 */
}

header img {
  max-width: 300px; /* ロゴ画像の最大幅 */
  height: auto; /* 画像の高さを自動調整 */
}


.container {
  max-width: 800px; /* コンテナの最大幅 */
  margin: 0 auto; /* 上下の余白を0に、左右の余白を自動で中央寄せ */
  padding: 20px; /* コンテナの内側余白 */
  background-color: #f9f9f9; /* 背景色を薄いグレーに設定 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 影を付ける */
  text-align: center; /* コンテナ内のテキストを中央揃えに */
}
/* for Desktops */
.container {
  max-width: 800px;
  /* 他のデスクトップ用スタイル */
}

/* for Tablets */
@media (max-width: 768px) {
  .container {
    max-width: 600px;
    /* タブレット用のスタイル */
  }
}

/* for Smartphones */
@media (max-width: 480px) {
  .container {
    max-width: 90%;
    /* スマートフォン用のスタイル */
  }
}

.container img {
  display: block; /* 画像を中央揃えするために必要 */
  margin: 0 auto; /* 上下の余白を0に、左右の余白を自動で中央寄せ */
  max-width: 100%; /* 画像の最大幅をコンテナの幅に合わせる */
  height: auto; /* 画像の高さを自動調整して縦横比を維持 */
}


.main-image img {
  max-width: 100%; /* 親要素の大きさを超えないようにする */
  height: auto;
  border-radius: 12px;
}

/*場所の説明書きの調整*/
.description {
  width: 636px;
  color: rgba(0, 0, 0, 1);
  font-family: 'Hiragino Mincho ProN', serif;
  font-weight: 300;
  font-size: 32px;
  text-align: center;
  margin: 0 auto; /* 横方向の中央揃え */
}

.description p {
  margin: 0; /* pタグの余白をリセット */
  opacity: 1;
}

/*地図について*/
.container img.map {
  max-width: 600px; /* 画像の最大幅を500pxに設定 */
  height: auto; /* 高さは自動調整されるようにする */
}


footer {
  background-color: #f2f2f2; /* 背景色を薄いグレーに設定 */
  color: #666; /* テキストの色を暗めのグレーに設定 */
  padding: 10px; /* 内側の余白を設定 */
  text-align: center; /* テキストを中央揃えに */
  font-size: 0.8em; /* フォントサイズを少し小さく */
}